@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

/* NAVIGATION BAR */

.nav__links{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-left:auto;
}

.nav__bar{
  display: flex;
  align-items: center;
}

.nav__btn{
  background-color:#5b35d5;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 24px;
  margin-left: 1rem;
}

.nav__links a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* LOGO */

.logo{
  width: 50px;
  height: auto;
}

.logo__container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

ul{
  list-style: none;
}

/* HERO */



.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 0;
}

.hero__content{
  flex: 1;
}

.hero__content h1{
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.purple{
  color: #5b35d5;
}

.hero__content p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  max-width: 550px;
  margin-bottom: 25px;
}

.hero__email {
  display:flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.hero__email input{
  flex: 1;
  padding: 14px 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
}

.hero__email button{
  padding: 13px 25px;
  border: none;
  border-radius: 50px;
  background-color:#5b35d5;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.hero__img{
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero__img img{
  width: 100%;
  max-width: 500px;
  height: auto;
}

.hero .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TRUSTED */


.trusted{
  padding: 60px 0;
  text-align: center;
}

.trusted h2{
  font-size: 18px;
  margin-bottom: 35px;
  color:#666;
}

.trusted__logos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.trusted__logos img{
  max-width: 320px;
  height: auto;
}

/* FEATURES */

.features{
  padding: 96px 0;
}

.features__header {
  color: #243e63;
  font-size: 24px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.features__header h5{
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.features__header p{
  color: #7c8ba1;
  line-height: 1.6;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.feature{
  width: 33.333%;
  display: flex;
  gap: 16px;
  padding: 24px;
}

.feature__icon{
  width: 48px;
  height: 48px;
  border: 2px solid #edf2f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#5b35d5;
  flex-shrink: 0;
}

.feature h3{
  color: #243e63;
}




